################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/.vs/Archichect/v14/.suo
/src/.vs/NDepCheck/v14/.suo
/src/Archichect/bin/Debug
/src/Archichect/obj/Debug
/src/Archichect/Archichect.csproj.bak
/src/Archichect/Archichect.csproj.user
/src/Archichect.MSBuild/bin/Debug
/src/Archichect.MSBuild/obj/Debug
/src/Archichect.TestAssembly/bin/Debug
/src/Archichect.TestAssembly/obj/Debug
/src/Archichect.TestAssemblyForAttributes/bin/Debug
/src/Archichect.TestAssemblyForAttributes/obj/Debug
/src/Archichect.TestAssemblyÄÖÜß/bin/Debug
/src/Archichect.TestAssemblyÄÖÜß/obj/Debug
/src/Archichect.TestPlugIn/bin/Debug
/src/Archichect.TestPlugIn/obj/Debug
/src/Archichect.TestRenderer/bin/Debug
/src/Archichect.TestRenderer/obj/Debug
/src/Archichect.Tests/bin/Debug
/src/Archichect.Tests/obj/Debug
/src/Archichect.Tests/Archichect.Tests.csproj.user
/src/Archichect.VerySmallExplorativeTestAssembly/bin/Debug
/src/Archichect.VerySmallExplorativeTestAssembly/obj/Debug
/src/packages
/src/ArchichectViolations~NamespaceClass.txt
/src/ArchichectViolations.txt
/src/Archichect.sln.DotSettings.user
/src/CreateZip.bat
/src/Archichect/ArchichectRules1.bat
*.bak
*.log
